# Dependencies
node_modules/
.pnpm-store/

# Next.js build output
apps/web/.next/
apps/web/out/

# NestJS build output
apps/api/dist/

# Database & Environment
apps/api/dev.db
apps/api/dev.db-journal
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
apps/api/*.sqlite
.env

# System & OS
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
